@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --color-one:#FBD757; */
  --color-one: #6ae46a;
  --color-two: #212121;
  /* --color-two:#1e172f; */
  --color-grey: #cbcbcb4e;
  --color-white: rgb(221, 221, 221);
  --color-three: #f7ca63;
}

body {
  color: var(--color-two);
  overflow-y: scroll;
  background-image: url("/images/backg.png");
  background-size: cover;
  background-position: 35%;
}
._menu{
  border: solid 1px;
}
.bg-color-1 {
  background-color: var(--color-one);
}

.bg-color-3 {
  background-color: var(--color-three);
}

.bg-color-2 {
  background-color: var(--color-two);
}

.bg-color-grey {
  background-color: var(--color-grey);
}

.color-1 {
  color: var(--color-one);
}

.color-2 {
  color: var(--color-two);
}

@layer components {
  .btn-app-1 {
    @apply py-2 px-4 rounded-lg shadow-md hover:brightness-95 bg-color-3;
    color: var(--color-two);
  }
  .btn-app-2 {
    @apply py-2 px-4 rounded-lg shadow-md hover:brightness-95 bg-color-2;
    color: var(--color-white);
  }
  .register-input {
    @apply px-2 py-3 mt-1 block w-full rounded-md focus:outline-none ;
    outline: none;
    background-color: #d0d3e74e;
    border-color: #21212100;
    color: rgba(0, 0, 0, 0.704);
    font-family: cursive;
    font-size: 16px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.main_bg{
  background-color: rgba(46, 87, 37, 0.474);
}
._home_logo{
  margin: -3% 0;
}

._NavLink{
  display: flex;
  flex-direction: row;
  padding: 10px 0;
background-color: #2121216c;

}
._link{
padding: 0  30px;
}
._hide{
  display: hidden;
}
.left ,.right{
  border: solid 1px;
}
._body{
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.917);
}
::-webkit-scrollbar-track {
  background: rgba(49, 52, 50, 0.2);
}
.homeImage{
  border: solid 1px;
  border-radius: 50%;
}
._left{
  margin: 5% 5%;
}
._right{
  margin-left:13%;
}
._pointer{
  margin-left: -50px;
  width: 210px;
  height: 120px;
}
